<.header title="New Cashing report">
  <:subtitle>Use this form to manage cashing_report records in your database.</:subtitle>
</.header>
<.cashing_report_form changeset={@changeset} action={~p"/cashing_reports"} buses={@buses} />

<.back navigate={~p"/cashing_reports"}>Back to cashing_reports</.back>
