<.expenditure_header title="Edit Expenditure">
  <:subtitle>Modify expenditure details.</:subtitle>
</.expenditure_header>

<.expenditure_form_component changeset={@changeset} action={~p"/expenditures/#{@expenditure}"} />

<.expenditure_back_button navigate={~p"/expenditures"}>Back to expenditures</.expenditure_back_button>
