<.header>
  Add New Driver
  <:subtitle>Register a driver with license and pay details.</:subtitle>
</.header>
<.driver_form changeset={@changeset} action={~p"/drivers"} />
<.back navigate={~p"/drivers"}>Back to drivers</.back>
