<.header>Edit Maintenance Record</.header>
<.maintenance_form changeset={@changeset} action={~p"/maintenances/#{@maintenance}"} vehicles={@vehicles} />
<.back navigate={~p"/maintenances"}>Back</.back>
