<div class="mx-auto max-w-sm">
  <div class="mb-10 text-center">
    <h1 class="text-3xl font-bold">Bus Cashing System</h1>
    <p class="mt-2 text-lg text-zinc-600">Create your account</p>
  </div>

  <.user_form changeset={@changeset} />
</div>

