<.header title={"Edit Report #{@report.id}"}>
  <:subtitle>Use this form to manage report records in your database.</:subtitle>
</.header>

<.report_form changeset={@changeset} action={~p"/reports/#{@report}"} />

<.back navigate={~p"/reports"}>Back to reports</.back>
