<.header title={"Report #{@report.id}"}>
  <:subtitle>This is a report record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/reports/#{@report}/edit"}>
      <.button>Edit report</.button>
    </.link>
  </:actions>
</.header>

<.item_list items={[%{id: @report.id}]}>
  <:item title="Start date"><%= @report.start_date %></:item>
  <:item title="End date"><%= @report.end_date %></:item>
</.item_list>

<.back navigate={~p"/reports"}>Back to reports</.back>
